<pre>
(function () {
  'use strict';
 
  angular
    .module('{{ appName }}.dataservices', [
      '{{ appName }}.dataservice'<code ng-repeat='itemService in data'>,
      '{{ appName }}.dataservices.{{ itemService.name }}'</code>
  ]);
})();<code ng-repeat='itemService in data'>
 
(function () {
  'use strict';
 
  angular
    .module('{{ appName }}.dataservices.{{ itemService.name }}DataService', [])
    .factory('{{ itemService.name }}DataService', {{ itemService.name }}DataService);
 
  /* @ngInject */
  function {{ itemService.name }}DataService(dataService) {
    return dataService.createService(this, '{{ itemService.basePath }}')<code ng-repeat='itemMethod in itemService.methods'>
      .createMethod('{{ itemMethod.name }}', '{{ itemMethod.method }}', '{{ itemMethod.path }}')<code ng-if="$last">;</code></code>
  }
})();</code>
</pre>